html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wordle-row {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-input {
  width: 80px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.submit-button {
  display: block;
  width: 50%;
  max-width: 300px;
  margin: 10px auto;
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 500px) {
  .letter-input {
      width: 48px;
      height: 48px;
      font-size: 18px;
  }
}