@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
</div>


    <p>Last updated: April 8, 2023</p>

    <p>We value your privacy and are committed to protecting your personal information. This Privacy Policy provides information about how we handle your data and uphold your privacy rights.</p>

    <p>1. No Collection or Storage of Personal Information</p>

    <p>We do not collect, store, or process any personal information from our users. Our website and services are designed to function without requiring any personal data from you.</p>

    <p>2. No Use of Cookies</p>

    <p>Our website does not use cookies or any other tracking technologies to collect or store information about your browsing activities or preferences.</p>

    <p>3. No Sharing of Information with Third Parties</p>

    <p>As we do not collect or store any personal information, we do not share your data with any third parties.</p>

    <p>4. Changes to This Privacy Policy</p>

    <p>We reserve the right to update our Privacy Policy from time to time. Any changes will be posted on this page, and the "Last updated" date at the top of this Privacy Policy will be revised. It is your responsibility to review this Privacy Policy periodically for any changes.</p>

    <p>By using our website and services, you agree to the terms outlined in this Privacy Policy.</p>